@import 'modules/variables';

// Node modules
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/aos/src/sass/aos.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/light.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-pro/scss/brands.scss';

@import 'fonts';
@import 'modules/mixins';

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: absolute;
  transition: transform 1000ms ease-in-out;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > main {
    flex: 1 1 auto;
  }
}

::selection {
  background-color: rgba(lighten($secondary, 10%), 0.5);
  color: $white;
}

p:empty {
  display: none;
}

a {
  transition: $transition-base;

  &:focus {
    outline: none;
  }
}

.wysiwyg {
  position: relative;

  > *:last-child() {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 8px;
      padding-left: 32px;
      position: relative;

      &:before {
        color: $secondary;
        content: '\f00c';
        font-family: 'Font Awesome 5 Pro';
        left: 0;
        position: absolute;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  > ol {
    list-style: none;
    padding-left: 0;

    > li {
      counter-increment: count;
      margin-bottom: 4px;
      position: relative;
      padding-left: 28px;

      &:before {
        color: $secondary;
        content: counter(count) '.';
        font-weight: bold;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
      }

      ol {
        list-style: none;
        margin: 8px 0 12px;
        padding-left: 0;

        > li {
          counter-increment: counter;
          margin-bottom: 4px;
          position: relative;
          padding-left: 28px;

          &:before {
            color: $secondary;
            content: counter(counter) '.';
            font-weight: bold;
            left: 0;
            position: absolute;
            top: 0;
            width: 24px;
          }
        }
      }
    }
  }
}

input {
  border: 1px solid darken($tertiary, 15%);
  border-radius: .25rem;
  padding: 8px 16px;
  transition: $transition-base;

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba($nonary, .25);
  }
}

.select {
  position: relative;

  select {
    min-width: 76px;
    padding: 8px 24px 8px 16px;
    width: 100%;
  }

  &:before {
    content: '\f107';
    font-family: 'Font Awesome 5 Pro';
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background-color: $quaternary;
  border: 1px solid darken($tertiary, 15%);
  border-radius: .25rem;
  padding: 8px 16px;
  transition: $transition-base;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba($nonary, .25);
    outline: none;
  }
}

input:focus,
select:focus
textarea:focus,
button:focus {
  outline: none;
}

.rounded {
  border-radius: .5rem !important;
}

.shadow {
  box-shadow: 0px 0px 12px 0px rgba($primary, .25) !important;
}

.slick-list,
.slick-slide,
.slick-track {
  backface-visibility: hidden;
}

.slick-arrows:focus,
.slick-dots:focus {
  outline: none;
}


.pagination {
  display: flex;
  flex-direction: row;

  span, a {
    align-items: center;
    color: $primary;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: 8px;
    transition: $transition-base;
  }

  a {
    opacity: .5;

    &:hover {
      color: $primary;
      opacity: 1;
    }
  }
}

@each $label, $color in $theme-colors {
  .btn-#{$label} {
    background-color: $color;
    border: 2px solid $color;
    border-radius: .5rem;
    color: color-yiq($color);
    padding: 12px 16px;
    font-size: $font-size-base;
    font-weight: bold;
    height: auto !important;
    line-height: 1 !important;
    text-align: center;
    transition: $transition-base;
  }

  a:hover .btn-#{$label},
  .btn-#{$label}:hover {
    background-color: color-yiq($color) !important;
    box-shadow: 0px 0px 0px 4px rgba($color, .5) !important;
    color: $color !important;
  }

  .btn-underline-#{$label} {
    position: relative;
    transition: $transition-base;

    &.active:before {
      bottom: 0;
      opacity: 1;
    }

    &:before {
      background-color: $color;
      bottom: -4px;
      content: '';
      height: 1px;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: $transition-base;
      width: 100%;
    }
  }

  a:hover .btn-underline-#{$label},
  .btn-underline-#{$label}:hover {
    color: $color;

    &:before {
      bottom: 0;
      opacity: 1;
    }
  }
}

#search {
  width: 100%;

  input {
    width: 100%;
  }

  @include md {
    width: auto;

    input {
      width: auto;
    }
  }
}

#table_wrapper {
  overflow: auto;
  position: relative;

  #table_length,
  #table_filter,
  #table_info {
    display: none;
  }

  table.dataTable {
    border-bottom: 1px solid darken($tertiary, 15%) !important;

    thead {
      background: $quaternary;

      th {
        border-bottom: 1px solid darken($tertiary, 15%) !important;
        color: $nonary !important;
        font-size: .9rem;
        font-weight: normal;
        padding: 40px 16px;
        white-space: nowrap;

        &.sorting_asc,
        &.sorting_desc,
        &.sorting {
          background-image: none;
          position: relative;

          &:after {
            color: $nonary;
            font-family: 'Font Awesome 5 Pro';
            margin-left: 8px;
          }
        }

        &.sorting:after {
          content: '\f883';
        }

        &.sorting_asc:after {
          content: '\f160';
        }

        &.sorting_desc:after {
          content: '\f161';
        }

        &:focus {
          outline: none;
        }
      }

      tr:last-of-type {
        position: relative;

        th {
          padding: 16px;
        }
      }
    }

    tbody {
      position: relative;

      tr {
        position: relative;

        td {
          font-size: .9rem;
          font-weight: bold;
          padding: 16px;
          text-transform: uppercase;
        }

        &.even {
          background-color: $quaternary;
        }

        &.odd {
          background-color: darken($tertiary, 2.5%) !important;
        }
      }
    }
  }

  #table_paginate {
    align-items: center;
    background-color: $quaternary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
    width: 100%;

    .paginate_button {
      background: none;
      border: none;
      border-radius: 0;
      color: $secondary !important;
      font-weight: bold;
      margin: 0 8px;
      min-width: auto;
      opacity: .5;
      padding: 0;
      position: relative;
      text-transform: uppercase;

      &:before {
        background-color: $secondary;
        bottom: -8px;
        content: '';
        height: 2px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: $transition-base;
        width: 100%;
      }

      &:hover {
        color: $secondary;

        &:before {
          bottom: 0;
          opacity: 1;
          pointer-events: all;
        }
      }

      &:active,
      &:focus {
        box-shadow: none;
        outline: none;
      }

      &.current {
        opacity: 1;

        &:before {
          bottom: 0;
          opacity: 1;
          pointer-events: all;
        }
      }

      &.previous,
      &.next {
        display: none;
      }
    }
  }
}

.flag {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16px;
  margin-right: 4px;
  width: 32px;
}

input.form-control {
  background-color: $tertiary;
  border: 0;
  border-radius: 0;
  height: auto !important;
  padding: 16px 8px;

  &:focus {
    border-radius: 0;

    &::placeholder {
      opacity: .5;
    }
  }

  &::placeholder {
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    transition: $transition-base;
  }
}

select.form-control {
  background-color: $tertiary;
  border: 0;
  border-radius: 0;
  height: auto !important;
  padding: 16px 8px;
}

.logo {
  height: auto;
  width: 56px;
}

.logo-nova .logo {
  height: auto;
  width: 32px;
}

.sidebar-icon path {
  fill: #78B8E2;
}

.w-sidebar h3 {
  font-weight: bold;
}

.search-icon-center {
  top: 50%;
  transform: translateY(-50%);
}

.pl-search {
  padding-left: 48px !important;
}

.h-9 {
  height: auto !important;
}

@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 1.75rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 1.3rem;
  }
  h4, .h4 {
    font-size: 1.2rem;
  }
  h5, .h5 {
    font-size: 1.1rem;
  }
  h6, .h6 {
    font-size: 1rem;
  }
}